<launch>

  <!-- these arguments you can pass this launch file-->
  <arg name="hardware_interface" default="EffortJointInterface"/>
  <arg name="controllers" default="joint_state_controller 
                                   lbr_iiwa_joint_1_effort_pos_controller
				   lbr_iiwa_joint_2_effort_pos_controller
				   lbr_iiwa_joint_3_effort_pos_controller
				   lbr_iiwa_joint_4_effort_pos_controller
				   lbr_iiwa_joint_5_effort_pos_controller
				   lbr_iiwa_joint_6_effort_pos_controller
				   lbr_iiwa_joint_7_effort_pos_controller"/>

 <!-- Load the URDF with the given hardware interface into the ROS Parameter Server -->
  <param name="robot_description"
	 command="$(find xacro)/xacro.py '$(find lbr_iiwa_description)/urdf/lbr_iiwa.urdf.xacro' prefix:=$(arg hardware_interface)" />

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find lbr_iiwa_control)/config/lbr_iiwa_control.yaml" command="load" ns="lbr_iiwa"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/lbr_iiwa" args="$(arg controllers)" />

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/lbr_iiwa/joint_states" />
  </node>

</launch>
