<?xml version="1.0"?>
<launch>
<!--Convenience launch file to start gazebo + control--> 
  <arg name="robot_name" default="iiwa" />
  <arg name="hardware_interface" default="PositionJointInterface" />

<!--The hardware_interface parameter determines which hardware inteface is used-->
<include file="$(find iiwa_gazebo)/launch/iiwa_world.launch">
  <arg name="hardware_interface" value="$(arg hardware_interface)" />
  <arg name="robot_name" value="$(arg robot_name)" />
</include>

<include file="$(find iiwa_control)/launch/iiwa_control.launch">
  <arg name="hardware_interface" value="$(arg hardware_interface)" />
  <arg name="controllers" value="joint_state_controller
			         pos_joint_trajectory_controller" />
  <arg name="robot_name" value="$(arg robot_name)" />
  
</include>
</launch>
