# Lines that start with '#' are comments.

# Backup and data files
eg/eg.*
*~
*.bak
*.off
*.x
x.*
r
x
x?
r?

# patch results
*.rej

# Build products
tmp/*
build/Makefile*
build/CMakeFiles
build/CMakeCache.txt
build/*/Makefile*
build/*/object_script*
build/*/Release/*
build/*/Debug/*
build/*/MinSizeRel/*
build/*/RelWithDebInfo/*
build

*#
*.#
*.obj
*.urdf
*.dae
*.stl
*.zip
*.a
*.dll
*.lib
*.exe
*.bag
*.o
*.md5sum

# Qt files
*.pro.user

# DevStudio files
*.bsc
*.ncb
*.pdb
*.suo
*.user
*.ilk

# CVS files
CVS/*
*/CVS/*
*/*/CVS/*
*/*/*/CVS/*
*.cvsignore

# Other files
working/
Status API Training Shop Blog About
© 2014 GitHub, Inc. Terms Privacy Security Contact

