<?xml version="1.0"?>
<launch>

	<!-- LAUNCH INTERFACE -->
	<arg name="hardware_interface" default="PositionJointInterface"/>

	<!-- LAUNCH IMPLEMENTATION -->
	<group ns="lbr_iiwa">
		<rosparam command="load" file="$(find lbr_iiwa_hw)/config/joint_names.yaml" />
		<!-- addresses /-->
		<param name="interface" value="$(arg hardware_interface)"/>
		<!-- the real hardware interface /-->
		<node name="lbr_iiwa_hw" pkg="lbr_iiwa_hw" type="lbr_iiwa_hw-bin" respawn="false" output="screen"/>
	</group>

</launch>
