<?xml version="1.0"?>
<robot name="lbr_iiwa" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="lbr_iiwa_transmission" params="name hardware_interface">

    <transmission name="${name}_tran_1">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${name}_joint_1">
	<hardwareInterface>${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="${name}_motor_1">
	<hardwareInterface>${hardware_interface}</hardwareInterface>
	<mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${name}_tran_2">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${name}_joint_2">
	<hardwareInterface>${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="${name}_motor_2">
	<hardwareInterface>${hardware_interface}</hardwareInterface>
	<mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${name}_tran_3">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${name}_joint_3">
	<hardwareInterface>${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="${name}_motor_3">
	<hardwareInterface>${hardware_interface}</hardwareInterface>
	<mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${name}_tran_4">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${name}_joint_4">
	<hardwareInterface>${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="${name}_motor_4">
	<hardwareInterface>${hardware_interface}</hardwareInterface>
	<mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${name}_tran_5">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${name}_joint_5">
	<hardwareInterface>${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="${name}_motor_5">
	<hardwareInterface>${hardware_interface}</hardwareInterface>
	<mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${name}_tran_6">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${name}_joint_6">
	<hardwareInterface>${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="${name}_motor_6">
	<hardwareInterface>${hardware_interface}</hardwareInterface>
	<mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${name}_tran_7">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${name}_joint_7">
	<hardwareInterface>${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="${name}_motor_7">
	<hardwareInterface>${hardware_interface}</hardwareInterface>
	<mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

  </xacro:macro>

</robot>



