<?xml version="1.0"?>
<robot name="lbr_iiwa" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find lbr_iiwa_description)/urdf/lbr_iiwa.xacro"/>




  <!-- base link-->
  <link name="base_link"/>

  <!--lbr-->
  <xacro:lbr_iiwa name="arm" parent="base_link">
    <origin xyz="0 0 0.01" rpy="0 0 0" />
  </xacro:lbr_iiwa>




</robot>
