<?xml version="1.0"?>
<launch>
  <arg name="robot_name" default="iiwa" />
  <arg name="hardware_interface" default="PositionJointInterface"/>

  <group ns="$(arg robot_name)">
    <node name="iiwa_kinematics" pkg="iiwa_control" type="iiwa_kinematics.py" output="screen">
      <param name="hardware_interface" value="$(arg hardware_interface)"/>
    </node>
  </group>
</launch>
